<!DOCTYPE html>
<html ng-app="JuegoCartas">
<head>
    <title>Juego de Cartas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="assets/app/app.js"></script>
    <script src="assets/app/Carta.js"></script>
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="ControlJuegoCartas">
    <div id="Titulo">Juego de Apuntado</div>
    <div class="botones">
    <button class="boton" ng-click="repartir();">
        Repartir
    </button>

    <button class="boton" ng-click="chequear();">
        Chequear
    </button>
    </div>
    <div id="Mesa">
        <img src="">
    </div>

</body>
</html>